---
layout: base
title: Home page of Rene Garcia (ixxra)
---
{% include nav.html %}
{% include header.html %}


<section id="main_content" class="inner">
    <h2>About Me</h2>
    <p>
          I'm an applied mathematician working in <a href="http://www.matematicas.uady.mx">Universidad Autonoma de Yucatan</a>.
          I enjoy solving applied problems, and learning programming languages, as you can see from my <a href="http://github.com/ixxra">Github frontpage</a>. I collaborate actively with the physics olympiad trainers in my home country.  
      </p>
      <h3>
          In what I am now
      </h3>
      <p>
          My interests in science and technology are very wide, as you can see from my current interests:
          <ul>
              <li>
                  I'm helping to develop better policies for <a href="#">Abstraction &amp; application</a>, an electronic journal on applied maths. Currently, that means learning <em>Open Journal System</em>.
              </li>
              <li>
                  Richard Feynman is my hero, so I'm working on quantum walks with bosons, and hopefully next year will be working in entangled particles traversing a quantum network.
              </li>
              <li>
                  As I can't be very far from programming, I have developed a few simple web apps with javascript: from a <a href="">personal trainer </a> for the master of science entrance examination in the school where I work to a <a href="/clock.html">Birthday countdown</a>. 
              </li>
          </ul>
      </p>
      </section>

    <!-- FOOTER  -->
    {% include footer.html %}
