<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="ixxra.github.io : Personal homepage on github" />
  <meta name="author" content="Rene Garcia">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon" href="">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/bootstrap.min.css">
  
  <title>{{ page.title }}</title>
</head>

<body>
    {% include nav.html %}
    
  <div class="container">
      
      {{ content }}    
      
  </div>
  {% include footer.html %}
</body>
</html>
